#wb_header { background: transparent none repeat scroll left top; height: 110px; }
#wb_header { height: 110px; }
#wb_main { background: transparent none repeat scroll left top; height: 2216px; padding: 0 0 50px 0; }
#wb_main { height: 2216px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 74px; }
#wb_footer { height: 74px; }
body { background: #187f8b url("../gallery/2930e3e4e63bce5de241767b95b114ff.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 2484px; }
.root { width: 992px; height: 2484px; overflow: visible; }
#wb_element_instance0 { left: 540px; top: 30px; min-width: 440px; width: 440px; min-height: 60px; height: 60px; display: block; z-index: 150; }
#wb_element_instance0 ul { background: #e77f74 none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 60px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 20px 20px 20px 0px; font: normal bold 20px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li:hover > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 20px Helvetica,Arial,sans-serif; text-decoration: none; color: #232a3a; line-height: 22px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 20px Helvetica,Arial,sans-serif; text-decoration: none; color: #232a3a; line-height: 22px; background: transparent none no-repeat scroll center center; }
#wb_element_instance1 { left: 120px; top: 30px; min-width: 370px; width: 370px; min-height: 56px; height: 56px; display: block; z-index: 148; }
#wb_element_instance2 { left: 0px; top: 1552px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; z-index: 124; }
#wb_element_instance3 { left: 0px; top: 29px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; z-index: 137; }
#wb_element_instance4 { left: 0px; top: 10px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; z-index: 149; }
#wb_element_instance4 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
#wb_element_instance5 { left: 0px; top: 922px; min-width: 330px; width: 330px; min-height: 56px; height: 56px; display: block; z-index: 84; }
#wb_element_instance6 { left: 580px; top: 310px; min-width: 410px; width: 410px; min-height: 128px; height: 128px; display: block; z-index: 109; }
#wb_element_instance7 { left: 580px; top: 110px; min-width: 400px; width: 400px; min-height: 168px; height: 168px; display: block; z-index: 86; }
#wb_element_instance8 { left: 0px; top: 1936px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; z-index: 114; }
#wb_element_instance9 { left: 0px; top: 1696px; min-width: 200px; width: 200px; min-height: 55px; height: 55px; display: block; z-index: 115; }
#wb_element_instance10 { left: 130px; top: 1790px; min-width: 360px; width: 360px; min-height: 104px; height: 104px; display: block; z-index: 118; }
#wb_element_instance11 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; z-index: 119; }
#wb_element_instance12 { left: 580px; top: 485px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; z-index: 120; }
#wb_element_instance12 a span { padding: 25px 0px 0px 0px; }
#wb_element_instance12 a { width: 200px; height: 70px; }
#wb_element_instance12 a { font-family: Helvetica,Arial,sans-serif; font-size: 20px; text-align: center; border: 0px solid #cccccc; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #6ebec5 none repeat scroll left top; }
#wb_element_instance12 a:hover { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #53aab0 none repeat scroll left top; }
#wb_element_instance12 a:active { color: #ffffff; font-style: normal; font-weight: normal; text-decoration: none; background: #53aab0 none repeat scroll left top; }
#wb_element_instance13 { left: 0px; top: 1022px; min-width: 520px; width: 520px; min-height: 280px; height: 280px; display: block; z-index: 88; }
#wb_element_instance14 { left: 0px; top: 1352px; min-width: 500px; width: 500px; min-height: 128px; height: 128px; display: block; z-index: 111; }
#wb_element_instance15 { left: 0px; top: 1786px; min-width: 110px; width: 110px; min-height: 112px; height: 112px; display: block; z-index: 122; }
#wb_element_instance16 { left: 2px; top: 104px; min-width: 492px; width: 492px; min-height: 480px; height: 480px; display: block; z-index: 123; }
#wb_element_instance16 img { width: 492px; height: 480px; position: static; left: 0px; top: 0px; }
#wb_element_instance17 { left: 610px; top: 1020px; min-width: 379px; width: 379px; min-height: 393px; height: 393px; display: block; z-index: 125; }
#wb_element_instance17 img { width: 379px; height: 393px; position: static; left: 0px; top: 0px; }
#wb_element_instance18 { left: 0px; top: 2236px; display: block; z-index: 9000; }

@media (min-width: 768px) {
	#wb_header { height: 110px; }
	#wb_main { height: 2216px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 2450px; }
	.root { width: 992px; height: 2450px; overflow: visible; }
	#wb_element_instance0 { left: 540px; top: 30px; min-width: 440px; width: 440px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 120px; top: 30px; min-width: 370px; width: 370px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance2 { left: 0px; top: 1552px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance3 { left: 0px; top: 29px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 0px; top: 10px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance4 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 922px; min-width: 330px; width: 330px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance6 { left: 580px; top: 310px; min-width: 410px; width: 410px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance7 { left: 580px; top: 110px; min-width: 400px; width: 400px; min-height: 168px; height: 168px; display: block; }
	#wb_element_instance8 { left: 0px; top: 1936px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance9 { left: 0px; top: 1696px; min-width: 200px; width: 200px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance10 { left: 130px; top: 1790px; min-width: 360px; width: 360px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance12 { left: 580px; top: 485px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance12 a span { padding: 25px 0px 0px 0px; }
	#wb_element_instance12 a { width: 200px; height: 70px; }
	#wb_element_instance13 { left: 0px; top: 1022px; min-width: 520px; width: 520px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance14 { left: 0px; top: 1352px; min-width: 500px; width: 500px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance15 { left: 0px; top: 1786px; min-width: 110px; width: 110px; min-height: 112px; height: 112px; display: block; }
	#wb_element_instance16 { left: 2px; top: 104px; min-width: 492px; width: 492px; min-height: 480px; height: 480px; display: block; }
	#wb_element_instance16 img { width: 492px; height: 480px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 610px; top: 1020px; min-width: 379px; width: 379px; min-height: 393px; height: 393px; display: block; }
	#wb_element_instance17 img { width: 379px; height: 393px; position: static; left: 0px; top: 0px; }
}

@media (min-width: 992px) {
	#wb_header { height: 110px; }
	#wb_main { height: 2216px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 2450px; }
	.root { width: 992px; height: 2450px; overflow: visible; }
	#wb_element_instance0 { left: 540px; top: 30px; min-width: 440px; width: 440px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 120px; top: 30px; min-width: 370px; width: 370px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance2 { left: 0px; top: 1552px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance3 { left: 0px; top: 29px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 0px; top: 10px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance4 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 922px; min-width: 330px; width: 330px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance6 { left: 580px; top: 310px; min-width: 410px; width: 410px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance7 { left: 580px; top: 110px; min-width: 400px; width: 400px; min-height: 168px; height: 168px; display: block; }
	#wb_element_instance8 { left: 0px; top: 1936px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance9 { left: 0px; top: 1696px; min-width: 200px; width: 200px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance10 { left: 130px; top: 1790px; min-width: 360px; width: 360px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance12 { left: 580px; top: 485px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance12 a span { padding: 25px 0px 0px 0px; }
	#wb_element_instance12 a { width: 200px; height: 70px; }
	#wb_element_instance13 { left: 0px; top: 1022px; min-width: 520px; width: 520px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance14 { left: 0px; top: 1352px; min-width: 500px; width: 500px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance15 { left: 0px; top: 1786px; min-width: 110px; width: 110px; min-height: 112px; height: 112px; display: block; }
	#wb_element_instance16 { left: 2px; top: 104px; min-width: 492px; width: 492px; min-height: 480px; height: 480px; display: block; }
	#wb_element_instance16 img { width: 492px; height: 480px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 610px; top: 1020px; min-width: 379px; width: 379px; min-height: 393px; height: 393px; display: block; }
	#wb_element_instance17 img { width: 379px; height: 393px; position: static; left: 0px; top: 0px; }
}

@media (min-width: 1200px) {
	#wb_header { height: 110px; }
	#wb_main { height: 2216px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 2450px; }
	.root { width: 992px; height: 2450px; overflow: visible; }
	#wb_element_instance0 { left: 540px; top: 30px; min-width: 440px; width: 440px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance1 { left: 120px; top: 30px; min-width: 370px; width: 370px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance2 { left: 0px; top: 1552px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance3 { left: 0px; top: 29px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance4 { left: 0px; top: 10px; min-width: 100px; width: 100px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance4 img { width: 100px; height: 100px; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { left: 0px; top: 922px; min-width: 330px; width: 330px; min-height: 56px; height: 56px; display: block; }
	#wb_element_instance6 { left: 580px; top: 310px; min-width: 410px; width: 410px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance7 { left: 580px; top: 110px; min-width: 400px; width: 400px; min-height: 168px; height: 168px; display: block; }
	#wb_element_instance8 { left: 0px; top: 1936px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance9 { left: 0px; top: 1696px; min-width: 200px; width: 200px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance10 { left: 130px; top: 1790px; min-width: 360px; width: 360px; min-height: 104px; height: 104px; display: block; }
	#wb_element_instance11 { left: 0px; top: 0px; min-width: 990px; width: 990px; min-height: 20px; height: 20px; display: block; }
	#wb_element_instance12 { left: 580px; top: 485px; min-width: 200px; width: 200px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance12 a span { padding: 25px 0px 0px 0px; }
	#wb_element_instance12 a { width: 200px; height: 70px; }
	#wb_element_instance13 { left: 0px; top: 1022px; min-width: 520px; width: 520px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance14 { left: 0px; top: 1352px; min-width: 500px; width: 500px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance15 { left: 0px; top: 1786px; min-width: 110px; width: 110px; min-height: 112px; height: 112px; display: block; }
	#wb_element_instance16 { left: 2px; top: 104px; min-width: 492px; width: 492px; min-height: 480px; height: 480px; display: block; }
	#wb_element_instance16 img { width: 492px; height: 480px; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 610px; top: 1020px; min-width: 379px; width: 379px; min-height: 393px; height: 393px; display: block; }
	#wb_element_instance17 img { width: 379px; height: 393px; position: static; left: 0px; top: 0px; }
}
